<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:800|Open+Sans:300" rel="stylesheet">
    <link rel="icon" href="favicon.ico?" type="image/x-icon">
  </head>
  <body class="site">
    <div class="site-content">
      <div class="header">
        <h1>Rock - Paper - Scissors - Lizard - Spock</h1>
      </div>
      <div class="player-details">
        <div>
          <label for="player1">Player 1</label>
          <input id="player1" type="text" name="player1">
        </div>
          <a class="play-button" id="play" href="#">Play</a>
          <div>
            <label for="player1">Player 2</label>
            <input id="player2" type="text" name="player2">
          </div>
      </div>
      <div class="weapons">
        <button class="weapon" data-weapon="rock">
          <i class="far fa-hand-rock"></i>
        </button>
        <button class="weapon" data-weapon="paper">
          <i class="far fa-hand-paper"></i>
        </button>
        <button class="weapon" data-weapon="scissors">
          <i class="far fa-hand-scissors"></i>
        </button>
        <button class="weapon" data-weapon="lizard">
          <i class="far fa-hand-lizard"></i>
        </button>
        <button class="weapon" data-weapon="spock">
          <i class="far fa-hand-spock"></i>
        </button>
      </div>
      <div class="result">
        <p id="result-message"></p>
        <a class="play-button hide" id="replay" href="#">Play Again</a>
      </div>
    </div>
    <footer>
      <p>Ben Kielty - 2018</p>
      <p>Challenge idea from <a href="http://www.makersacademy.com">Makers Academy</a></p>
    </footer>
    <script src="javascript/computer.js"></script>
    <script src="javascript/player.js"></script>
    <script src="javascript/weapon.js"></script>
    <script src="javascript/game.js"></script>
    <script src="javascript/resultsViewer.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>
    <script src="javascript/logic.js"></script>
    <script src="javascript/interaction.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  </body>
</html>
