body {
  background: #F1F2F2;
  color: #17172D;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  border: 3px solid white;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  text-align: center;
}

input {
  border: 1px solid #17172D;
  border-radius: 16px;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  text-align: center;
}

label {
  margin-right: 10px;
}

footer {
  background: #F1F2F2;
  border-top: 1px solid #EAE0D5;
  font-size: 12px;
  line-height: 50%;
  text-align: center;
}

.play-button {
  color: #17172D;
  font-size: 25px;
  font-weight: bold;
  padding: 2px;
  text-decoration: none;
}

.site {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content {
  flex: 1;
}

.svg-inline--fa{
  font-size: 15em;
  margin: 10px;
}

.svg-inline--fa:hover {
  cursor:pointer;
}

.header {
  align-items: flex-start;
  background: white;
  border: 1px solid #EAE0D5;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.player-details {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

.player-details label {
  font-size: 25px;
}

.weapons {
  border-bottom: 1px solid #EAE0D5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  padding: 10px 0;
  padding-bottom:30px;
  visibility: hidden;
}

.weapons > * {
  transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms;
  visibility: visible;
}

.weapons:hover > * {
  opacity: 0.4;
  transform: scale(0.9);
}

.weapons > *:hover {
  opacity: 1;
  transform: scale(1);
  transition-delay: 0ms, 0ms;
}

.weapon {
  background: white;
  border: 2px solid #17172D;
  border-radius: 16px;
}

.result {
  background: #F1F2F2;
  display: block;
  font-size: 1.5em;
  height: 180px;
  margin-top: 40px;
  text-align: center;
}

.hide {
  visibility: hidden;
}

#result-message {
  background: white;
  border-radius: 16px;
  font-size: 1.5em;
}
